if session.cart.items.length
	- var content = '<table><tbody>'
	each val, index in session.cart.items
		- content += '<tr><td><strong class="item_name">'+ ((val.name.length>12)?val.name.substring(0,12)+'...':val.name) +'</strong></td><td><span class="item_price">$'+ val.price +'x</span></td><td><input class="item_qty" value="'+ val.qty +'"></td><td><a class="item_close" href="#"> X </a></td></tr>'
	- content += '</tbody></table>'
else
	- content = '<p class="text-center">Carro vacio</p>'

span.navbar-brand
	a#cart_content.btn.btn-primary.navbar-btn(
	href='#'
	data-html='true'
	data-toggle='popover'
	data-placement='bottom'
	data-content= '<div id="cart">'+content+'</div>'
	)
		span#item #{session.cart.items.length} 
		span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')