//- show_user.jade
extends ../layout.jade
block title
	title Usuarios
block content
	h2 Listado de usuarios
	#user.container
		table#user_table.table.table-hover
			thead
				tr
					th Nombre
					th Email
					th Usuario
					th Creado el
					if session.user
						th Acciones
			if users.length
				tbody
				each val, index in users
					tr
						td: p
							a(href='/user/#{val._id}') #{val.name} 
							if val.admin
								code admin
							else if val.active
								code activo
						td: p #{val.email}
						td: p #{val.username}
						td: p #{moment.unix(val.created / 1000 | 0).locale('es').format('D MMM YYYY / HH:mm')} hs
							//- si estas logeado
							if session.user
								td
									//- si es admin
									if session.user.admin
										//-borrar
										form(
										method='post'
										action='/user/#{val._id}/?_method=delete'
										style='display:inline-block')
											button.btn.btn-danger(
											type='submit'
											onClick="return confirm('Borrar Usuario?')"
											) Borrar
									//- si coinciden los id
									if val._id == session.user._id
										//-editar
										a.btn.btn-primary(
										href='/user/#{val._id}/edit'
										style='display:inline-block'
										) Editar
									if session.user.admin && val.active != true
										//-activar
										span
											form(
											method='post'
											style='display:inline-block'
											action='/user/#{val._id}/active')
												button.btn.btn-success(
												type='submit'
												onClick="return confirm('Activar Usuario?')"
												) Activar
			else
				tr: td: p No Hay Usuarios Registrados