//- show_user.jade
extends ../layout.jade
block title
	title Ususario
block content
	#user.container
		div.col-md-4.col-sm-6
			if user
				img.img-responsive(
				src='#{user.imgPath}'
				alt='user-img')
				h2 #{user.name}
					h3 (#{user.username})
				p #{user.email}
				if user.active
					p: span.alert-success Usuario Activo
				else
					p: span.alert-danger Usuario Pendiente Moderacion
				if user.admin
					p: span.alert-success Administrador
				p Usuario desde
					code #{moment.unix(user.created / 1000 | 0).locale('es').format('D MMM YYYY / HH:mm')} hs
			else
				li There are no values
			if session.user && user._id == session.user._id
				a.btn.btn-primary(href="/user/#{user._id}/edit/",style="margin:5px") Editar perfil
				form(
				method='post'
				action='/user/#{user._id}/?_method=delete'
				style='display:inline-block')
					button.btn.btn-danger(
					type='submit'
					onClick="return confirm('Borrar Usuario?')"
					) Borrar mi cuenta
			if session.user && session.user.active && user.active != true
				form(
				method='post'
				action='/user/#{user._id}/active'
				style='display:inline-block')
					button.btn.btn-success(
					type='submit'
					onClick="return confirm('Activar Usuario?')"
					) Activar